node-red-flow.json
[{"id":"ed91000d.e405a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2480c40.66778","type":"ui_slider","z":"ed91000d.e405a","name":"","label":"position","group":"6c5986ae.086e68","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":"5","x":160,"y":180,"wires":[["4240d9fb.5650b8"]]},{"id":"a8c53526.106f08","type":"ui_text","z":"ed91000d.e405a","group":"6c5986ae.086e68","order":1,"width":0,"height":0,"name":"","label":"10.105.90.11","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":120,"wires":[]},{"id":"90272a54.6429f8","type":"http request","z":"ed91000d.e405a","name":"","method":"POST","ret":"txt","url":"http://10.105.90.11/","tls":"","x":1090,"y":180,"wires":[["fad22a29.90e098"]]},{"id":"1d4f64bc.13e15b","type":"change","z":"ed91000d.e405a","name":"","rules":[{"t":"set","p":"headers[\"content-type\"]","pt":"msg","to":"application/x-www-form-urlencoded","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["bdad334b.7c79a"]]},{"id":"4240d9fb.5650b8","type":"function","z":"ed91000d.e405a","name":"format payload","func":"msg.payload = { \"pos\": msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["1d4f64bc.13e15b"]]},{"id":"fad22a29.90e098","type":"debug","z":"ed91000d.e405a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":180,"wires":[]},{"id":"bdad334b.7c79a","type":"delay","z":"ed91000d.e405a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":180,"wires":[["90272a54.6429f8"]]},{"id":"6c5986ae.086e68","type":"ui_group","z":"","name":"Group 0","tab":"856e80bf.91dde","order":1,"disp":false,"width":"6","collapse":false},{"id":"856e80bf.91dde","type":"ui_tab","z":"","name":"Fab-IoT-Lab","icon":"dashboard"}]
